h1,
h2 {
    color: #fff;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

.mt_18px {
    margin-top: 18px;
}

.mt_75px {
    margin-top: 75px;
}

.txtc {
    text-align: center;
}

.normal_title {
    flex: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;

    .icon_back {
        position: absolute;
        top: 0;
        left: 16px;
        bottom: 0;
        display: block;
        width: 24px;
        height: 24px;
        margin: auto;

        img {
            vertical-align: unset;
        }
    }
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.opening {
    width: 100%;
    min-height: 100%;
    padding: 160px 0;
    background: linear-gradient(157deg, #05097b 20%, #93d1ab);
    text-align: center;

    img {
        width: 256px;
        margin-top: 40px;

        &.opening_qrcode {
            width: 128px;
            margin-top: 50px;

            & + .function {
                width: 280px;
                margin-top: 70px;
            }
        }
    }

    h1 {
        width: 140px;
        margin: 0 auto;

        img {
            width: 100%;
            margin-top: 0;
        }
    }

    h2 {
        margin-top: 8px;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
    }

    .function {
        margin-top: 40px;

        &_btn {
            height: 60px;
        }
    }

    &._pc {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 123px 20px;
    }

    //  .opening_box
    &_box {
        display: inline-block;
    }

    // .opening_txt
    &_txt {
        font-family: MicrosoftJhengHei;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.08;
        letter-spacing: normal;
        text-align: center;
        color: #fff;

        h2 + & {
            margin-top: 20px;
        }
    }
}

.step {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    // height: 100%;
    min-height: 100%;
    padding-top: 26px;
    padding-bottom: 70px;
    background: linear-gradient(157deg, #05097b 20%, #93d1ab);

    // .step_txt
    &_txt {
        margin-top: 15px;
        color: #fff;
        font-size: 20px;
        line-height: 1.6;
    }

    // .step_iconGroup
    &_iconGroup {
        flex: none;
        display: flex;
        justify-content: center;
        margin-top: 36px;
    }

    // .step_iconItem
    &_iconItem {
        position: relative;
        width: 60px;
        height: 60px;
        padding: 13px;
        background-color: #e8ebf2;
        border-radius: 100%;

        &._check::before {
            content: "";
            position: absolute;
            top: -5px;
            right: -5px;
            display: block;
            width: 22px;
            height: 22px;
            background: url("../images/icon_check.svg") no-repeat center/cover;
        }

        &._error::before {
            content: "";
            position: absolute;
            top: -5px;
            right: -5px;
            display: block;
            width: 22px;
            height: 22px;
            background: url("../images/icon_error.svg") no-repeat center/cover;
        }

        & + & {
            margin-left: 20px;
        }
    }

    // .step_pic
    &_pic {
        flex: 1 1 100%;
        height: 100%;
        margin-top: 30px;

        & + & {
            margin-top: 20px;
        }

        &._qr + .function {
            margin-top: 33px;
        }
    }

    // .step_info
    &_info {
        flex: 1 1 100%;
        width: 100%;
        height: 100%;
        padding: 0 10px;

        // .step_info_title
        &_title {
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.3;
            letter-spacing: normal;
            text-align: center;
            color: #fff;

            & + .limit {
                margin-top: 30px;
            }
        }

        // .step_info_txt
        &_txt {
            padding: 40px 18px;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.6;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
        }
    }
}

.member {
    flex: none;
    height: 304px;
    padding-top: 26px;
    background: linear-gradient(133deg, #05097b 23%, #93d1ab);

    &_pic {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        margin: 20px auto 0;
        background-color: #e8ebf2;
        border-radius: 100%;

        img {
            width: 100%;

            @at-root .home & {
                width: 48px;
            }
        }
    }

    &_welcome {
        margin-top: 20px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;

        span {
            display: block;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.63;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
        }
    }
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 36px 70px;
    background-color: #f9fafa;

    &._balance {
        padding: 0 24px 70px;
    }
}

.serve {
    height: 100%;

    &_list {
        display: flex;
        align-items: center;
        width: 100%;
        height: 90px;
        padding-left: 16px;
        background-color: #fff;
        box-shadow: 0 10px 32px 0 rgba(14, 31, 53, 0.2);
        border-radius: 45px;
        transform: translateY(-50%);

        & + & {
            margin-top: 22px;
        }

        &_icon {
            flex: none;
            display: block;
            width: 60px;
            height: 60px;
            margin-right: 16px;
            padding: 14px;
            background-color: #e8ebf2;
            border-radius: 100%;
        }

        &_txt {
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #444;
        }
    }
}

.function {
    flex: none;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    padding: 0 25px;

    &_btn {
        width: 100%;
        height: 48px;
        max-width: 230px;
        border-radius: 10px;
        border: solid 2px #979797;
        background-color: #efeded;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #444;
        cursor: pointer;

        & + & {
            margin-left: 30px;
        }

        &._start {
            background-color: #137eff;
            border: solid 2px #a1cbfe;
            color: #fff;
        }
    }
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.7);

    // .alert_box
    &_box {
        width: 100%;
        max-width: 340px;
        padding: 20px 0 40px;
        box-shadow: 0 16px 40px -16px rgba(141, 141, 141, 0.05);
        background-color: #fff;
        border-radius: 8px;
    }

    // .alert_title
    &_title {
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 0.09px;
        text-align: center;
        color: #000;
    }

    // .alert_msg
    &_msg {
        margin-top: 20px;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #5e5e5e;

        .code {
            color: #1e35be;
        }
    }

    .step_iconGroup {
        margin-top: 25px;
    }

    .function {
        margin-top: 40px;

        &_btn {
            max-width: 100px;
        }
    }
}

.show_balance {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 48px);
    height: 92px;
    margin: 0 auto;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
    color: #5e5e5e;
    font-size: 20px;
    transform: translateY(-50%);

    &_code {
        display: flex;
        align-items: center;
        font-size: 32px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1e35be;

        &::after {
            content: attr(data-dollor);
            margin-left: 6px;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #5e5e5e;
        }
    }
}

// .balanceGroup
.balanceGroup {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding-top: 56px;

    // .balance_list
    &_list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(50% - 5px);
        height: 52px;
        margin-top: 10px;
        border-radius: 10px;
        background-color: #858585;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;

        &:nth-child(odd) {
            margin-left: 10px;
        }

        &.on {
            border: solid 2px #1e35be;
            background-color: #1e35be;
        }

        // .balance_list_title
        &_title {
            width: 100%;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #5e5e5e;
        }

        // .balanceGroup_list_function
        &_function {
            width: 100%;
            display: flex;
            margin-top: 25px;

            input {
                width: 100%;
                padding: 11px 12px 14px;
                border-radius: 10px;
                border: solid 1px #bbb;
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: normal;
                color: #8d8d91;
            }

            button {
                flex: none;
                margin-left: 10px;
                padding: 12px 22px 13px 23px;
                border-radius: 10px;
                background-color: #1e35be;
                font-size: 20px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #fff;
            }
        }
    }
}

.limit {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 340px;
    margin: auto;
    padding: 13px 22px 35px;
    border-radius: 10px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;

    & + & {
        margin-top: 10px;
    }

    // .limit_title
    &_title {
        flex: none;
        padding-bottom: 12.5px;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: center;
        color: #5e5e5e;
        border-bottom: solid 0.8px #d2d1d7;

        &._entity {
            color: #1e35be;
        }
    }

    // .limit_group
    &_group {
        margin: auto;
        padding-top: 9.5px;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        color: #5e5e5e;
    }

    // .limit_list
    &_list {
        & + & {
            margin-top: 20px;
        }

        // .limit_list_note
        &_note {
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.08;
            letter-spacing: normal;
            text-align: center;
            color: #1e35be;
        }
    }
}

@media only screen and (max-width: 320px) {
    .opening {
        padding: 80px 0;
    }

    .function_btn + .function_btn {
        margin-left: 15px;
    }
}

.report {
    position: relative;
    padding: 10px 32px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 348px;
        background-image: linear-gradient(106deg, #05097b 25%, #93d1ab);
    }
    // .report_container
    &_container {
        width: 100%;
        max-width: 1350px;
        margin: auto;
    }
    // .report_header
    &_header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        // .report_header_title
        &_title {
            font-family: MicrosoftJhengHei;
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.08;
            letter-spacing: normal;
            color: #fff;
        }

        .function_btn {
            max-width: 150px;
            height: 40px;
        }
    }

    //.report_group
    &_group {
        position: relative;
        display: flex;
    }

    // .report_list
    &_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px 55px;
        border-radius: 9px;
        box-shadow: 0 2px 12px 0 rgba(47, 83, 151, 0.1);
        background-color: #fff;
        text-align: center;

        & + & {
            margin-left: 10px;
        }
        // .report_list._w300px
        &._w300px {
            flex: 1 0 300px;
        }
        // .report_list._w300px
        &._w448px {
            flex: 1 0 448px;
        }
        // .report_list._w300px
        &._w518px {
            flex: 1 0 518px;
        }
        // .report_list_title
        &_title {
            margin-bottom: 10px;
            font-family: MicrosoftJhengHei;
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #5e5e5e;
        }

        // .report_list_face
        &_face {
            width: 200px;
            height: 200px;
            margin-bottom: 10px;
            border-radius: 100%;
            img {
                width: 100%;
            }
        }

        // .report_list_eyes
        &_eyes {
            display: flex;
            padding-bottom: 30px;

            img {
                width: 100px;
            }

            img + img {
                margin-left: 10px;
            }
        }

        // .report_list_botBorder
        &_botBorder {
            border-bottom: 1px solid #e1e2eb;
        }

        // .report_list_ul
        &_ul {
            width: 100%;
        }

        // .report_list_li
        &_li {
            display: flex;
            align-items: center;
            padding: 20px 10px;
            font-family: MicrosoftJhengHei;
            font-size: 28px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.07;
            letter-spacing: normal;
            color: #1e35be;

            &._msgl::before {
                content: attr(data-msgl);
                font-size: 20px;
                font-weight: normal;
                letter-spacing: -0.97px;
                color: #5e5e5e;
            }

            & + & {
                border-top: 1px solid #e1e2eb;
            }
        }

        // .report_list_statistics
        &_statistics {
            position: relative;
            padding: 35px 0 62px;

            img {
                width: 240px;
                height: 240px;
                margin: auto;
            }
            .num {
                position: absolute;
                font-family: MicrosoftJhengHei;
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.8;
                letter-spacing: normal;
                color: #5e5e5e;
            }
        }

        // .report_list_exchangePic
        &_exchangePic {
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
            width: 476px;
            margin-bottom: 20px;

            // .report_list_exchangePic_container
            &_container {
                position: relative;
                width: 1300px;
                height: 300px;
                margin: 0 auto;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .highcharts-title,
            .highcharts-background,
            .highcharts-point,
            .highcharts-credits,
            .highcharts-legend {
                display: none;
            }
            .highcharts-series-group,
            .highcharts-plot-background {
                width: 100% !important;
            }
        }
    }

    // .report_table
    &_table {
        width: 100%;
        margin-top: 12px;
        border-collapse: collapse;
        border-spacing: 0;
        &._exchange {
            td {
                font-size: 16px;

                &.exchange_num {
                    font-weight: bold;
                }
            }
        }
        &._fund {
            margin-top: 20px;
            td {
                border-bottom: 1px solid #e1e2eb;
            }
        }
        // .report_table th
        th {
            // padding: 5px 0;
            //
            //
            &.rw2 {
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 74px;
                }
            }
            span {
                display: inline-block;
                width: 100%;
                height: 36px;
                padding: 2px 20px;
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                background-color: #f0f1f5;
                color: #8c8c8c;
                border: 2px solid #ffffff;
                border-radius: 4px;
            }
            &.report_table_exchange {
                padding: 0;
                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 5px 0;
                    font-family: MicrosoftJhengHei;
                    line-height: 1.3;
                    color: #fff;
                    text-align: center;
                    border-radius: 4px;
                    background-color: #7489dd;
                }
            }
            // th.report_table_fund
            &.report_table_fund {
                padding: 0;
                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 5px 0;
                    font-size: 20px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.3;
                    letter-spacing: normal;
                    text-align: center;
                    color: #5e5e5e;
                    border-radius: 4px;
                    background-color: #f0f1f5;
                }
            }
        }
        td {
            padding: 8px 0;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #8c8c8c;
            // td.report_table_fund
            &.report_table_fund {
                padding: 20px 5px;
                text-align: left;
                .name {
                    overflow: hidden;
                    width: 106px;
                    margin-bottom: 4px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                div {
                    line-height: 26px;
                }
            }

            &.pal {
                font-weight: bold;
            }
            &.roi {
                span {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 36px;
                    border-radius: 4px;
                    color: #fff;
                }
            }
        }
        &._assets {
            th {
                padding: 12px 0;
                span {
                    width: auto;
                }
            }
            td {
                padding: 6px 0;
            }
            & + & {
                border-top: 1px solid #e1e2eb;
            }
            &:not(._only) + &:not(._only) {
                margin-top: 12px;
            }
            &._only {
                td {
                    padding: 12px 0 0;
                }
            }
        }
        .coin {
            font-family: MicrosoftJhengHei;
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: #1e35be;
        }
        .total {
            font-family: MicrosoftJhengHei;
            font-size: 28px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.07;
            letter-spacing: normal;
            color: #ec6f00;
        }
    }
}

.currency {
    display: flex;
    justify-content: center;
    align-items: center;

    // .currency_txt
    &_txt {
        display: inline-flex;
        align-items: center;
        margin-right: 6px;
        font-family: MicrosoftJhengHei;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;

        &::before {
            content: "";
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 6px;
            border-radius: 100%;
        }
        // 台幣活存
        &._demandTWD::before {
            background-color: #5686e8;
        }
        // 台幣定存
        &._depositsTWD::before {
            background-color: #61cfa3;
        }
        // 台幣信託
        &._trustTWD::before {
            background-color: #65799b;
        }
        // 外幣活存
        &._demandForeign::before {
            background-color: #f2c53f;
        }
        // 外幣定存
        &._depositsForeign::before {
            background-color: #dd745b;
        }
        // 外幣信託
        &._trustForeign::before {
            background-color: #6fc2e3;
        }
    }

    // .currency_num
    &_num {
        display: inline-flex;
        align-items: center;
        font-family: MicrosoftJhengHei;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }
}

.icon_flag {
    flex: none;
    width: 30px;
    height: 20px;
    margin-right: 2px;
}
.d_flex {
    display: flex;

    &._alic {
        align-items: center;
    }
    &._jucc {
        justify-content: center;
    }
}

.txtl {
    text-align: left;
}
.txtr {
    text-align: right;
}

.total_assets {
    display: flex;
    align-items: center;
    // flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 117px;
    margin-top: 12px;
    border-radius: 9px;
    background-color: #7489dd;
    color: #ffffff;

    // .total_assets_num
    &_num {
        display: inline-flex;
        flex-direction: column;
        text-align: left;
        font-family: MicrosoftJhengHei;
        font-size: 42px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.71;
        letter-spacing: normal;

        &::before {
            content: attr(data-txt);
            margin-bottom: 14px;
            font-family: MicrosoftJhengHei;
            font-size: 20px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
        }
    }
}

// 正
.posi {
    .pal {
        color: #d10b0b;
    }
    .roi {
        span {
            background-color: #d10b0b;
        }
    }
}
// 負
.nega {
    .pal {
        color: #12a30d;
    }
    .roi {
        span {
            background-color: #12a30d;
        }
    }
}
